<form>
  <div class="row">
    <div class="form-group col-6">
      <label for="vehicleMake">Make:</label>
      <select class="form-control" id="vehicleMake">
      <option>Honda</option>
      <option>Nissan</option>
    </select>
    </div>
    <div class="form-group col-6">
      <label for="vehicleModel">Model:</label>
      <select class="form-control" id="vehicleModel">
      <option>...</option>
      <option>...</option>
    </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="vehicleYear">Year:</label>
      <input type="number" id="vehicleYear" class="input-stretch"/>
    </div>
    <div class="form-group col-6">
      <label for="vehiclePrice">Rrice:</label>
      <input type="number" id="vehiclePrice" class="input-stretch"/>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="imageUrl">Image URL:</label>
      <input type="text" id="imageUrl" class="input-stretch"/>
    </div>
  </div>
</form>